<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="postTitle" size="108"><br>
    <label class="form-label">Post</label><br>
    <textarea class="form-control" name="postBody" cols="110" rows="5" ></textarea><br>
    <button class="btn btn-primary" type="submit" name="" value="">Publish</button>
</div>
    
</form>



<%- include("partials/footer") -%>